<%= link_to 'Criar novo produto', new_product_path %>

<% @products.each do |product|%>
  <div class="card" style="width: 18rem;">
    <%= image_tag product.image%>
    <div class="card-body">
      <h5 class="card-title"><%= product.name%></h5>
      <p class="card-text"><%= product.description%></p>
      <p class="card-text"><%= product.user.name%></p>
      <a href="#" class="btn btn-primary">Comprar</a>
      <%= link_to 'Detalhes', product_path(id: product.id) %>
    </div>
  </div>
<%end%>

